* {
  text-align: center;
}
.image-container {
  text-align: center;
}

ul.banner {
  background-color: #ddc191;
  display: flex;
  position: relative;
  list-style: none;
  gap: 10px;
  text-align: center;
  height: 10%;
}

.item.title {
  text-align: center;
  color: white;
  font-family: Garamond;
  transform: translateY(100%);
}

.item-info {
  position: relative;
  text-align: center;
  top: 30px;
  right: 10px;
  font-family: Roboto;
}

ul.banner li {
  display: inline-block;
  position: relative;
}
.title {
  text-align: center;
  display: flex;
}
.image-container img {
  width: 60%;
  height: 70%;
  max-width: 600px;
  transition: transform 0.3s ease;
}
.image {
  transition: transform 0.3s ease;
  object-fit: cover;
  border-radius: 4px;
  width: 35px;
}

/* .image:hover {
  transform: scale (1.1);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 2.5);
  z-index: 10;
} */
.card {
  width: 60%;
  height: 90%;
  position: center;
  transition: all 0.3s ease;

  overflow: hidden;
  background-color: red;
  display: flex;
  border-radius: 5px;
}

.card-container {
  display: grid;
  background-color: orange;
  justify-content: center;
  gap: 25px;
  margin-left: 20%;
}

.card:hover {
  transform: scale(1.1);
}

.card:hover .image {
  transform: scale(1.1);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 2.5);
}

.card:hover .item-info {
  transform: scale(1.2);
  overflow: hidden;
}
